# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
.next/

# Misc
.env
cookies.txt
*.sh
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .NET / C#
[Bb]in/
[Oo]bj/
[Oo]ut/
[Tt]est[Rr]esults/
*.user
*.suo
*.userosscache
*.sln.docstates

# IDE / Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo

# Docker
docker-compose.override.yml
